body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.foot{
  background-color: rgb(228, 188, 186);
}
.navbar {
  padding:0rem;
  margin-bottom:2rem;
  
}

.dropdown .dropdown-menu {
  border-radius:0;
 }


/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  border-radius:0;
 }
}
.container-fluid{
  text-align: center;
}
.hotels{
  text-align:center;
  padding:19px;
  margin: 2px;
  width: 120px;
  height: 90px;
  border-radius: border-boxing;
}
.form-control{
  -webkit-appearance:none;
  overflow: hidden;}
  .navbar-nav{
    float: right;
  }